<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>

  <link rel="icon" href="{{ '/assets/favicon.png' | relative_url }}" type="image/x-icon">
  
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
</head>
<body>
  <header>
    <h1>
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      {% if page.layout == 'note' and page.title %}
        - {{ page.title }}
        {% if page.last_modified_at %}
          <span style="font-size: 1.5rem; font-weight: normal; color: #666; margin-left: 0.8rem;">
            最后更新：(UTC+8) {{ page.last_modified_at | date: "%Y-%m-%d %H:%M" }}
          </span>
        {% endif %}        
      {% endif %}
    </h1>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P2XHHH2N2Q"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P2XHHH2N2Q');
  </script>
</body>
</html>
