<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="icon" href="{{ '/assets/favicon.png' | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

  <!-- Firebase SDK 9+ (模块方式) -->
  <script type="importmap">
    {
      "imports": {
        "firebase/app": "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js",
        "firebase/auth": "https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js",
        "firebase/firestore": "https://www.gstatic.com/firebasejs/10.12.2/firebase-firestore.js"
      }
    }
  </script>

  <!-- 入口脚本（模块） -->
  <script type="module" src="{{ '/assets/js/main.js' | relative_url }}"></script>
</head>
<body>
  <header>
      <div class="header-left">
        <h1>
          {% if page.layout == 'note' %}
            {{ page.title }}
          {% else %}
            <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
          {% endif %}
        </h1>
        {% if page.layout == 'note' and page.last_modified_at %}
          <span class="last-modified">
            最后更新：{{ page.last_modified_at | date: "%Y-%m-%d %H:%M" }} (UTC+8)
          </span>
        {% endif %}
      </div>
      <div id="user-status"></div>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>
</body>
</html>