<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>

  <link rel="icon" href="{{ '/assets/favicon.png' | relative_url }}" type="image/x-icon">
  
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
</head>
<body>
  <header>
    <h1>
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      {% if page.layout == 'note' and page.title %}
        - {{ page.title }}
      {% endif %}
    </h1>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?53d91910ce12904cef2712880b5401a1";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>·
</body>
</html>
